/*reset*/
*{margin:0; padding:0;}
li{list-style:none;}
a{color:#555; text-decoration:none;}

/*common*/
.wrapper{width:1200px; margin:0 auto;}
body{background:#eee; color:#555;}

/*header*/
.header{background:#fff; border-bottom:  1px solid #eee;}
.header .top{height:60px; border-bottom:1px solid #eee;}
.header .nav{height:100px;}

.top .top_left{float:left; border-left:1px solid #eee;}
.top .top_left .left_menu{float:left; font-size:11px; color:#999; line-height:60px; border-right:1px solid #eee; padding:0 30px;}
.top .top_left .left_menu span{color:#444; font-size:12px; font-weight:bold; text-transform:uppercase;}
.top .top_right {float:right;}
.top .top_right li{float:left; font-size:12px; font-weight:bold; line-height:60px; padding:0 30px; border-left:1px solid #ddd;}
.top .top_right li:last-child{border-right:1px solid #eee;}

/*nav*/
h1{float:left; text-align:center; width:50px; border:3px solid #000; font-size:16px; letter-spacing:2px; padding:10px 0; margin:16px 0;}
.menu{float:right; height:100px; position:relative;}
.menu li{float:left; height:100px;}
.menu li a{ display:block; height:34px; text-transform:uppercase; font-weight:bold; font-size:12px; margin:33px 0; padding:0 15px; line-height:34px; border-radius:20px; transition:all .3s ease;}
/*.menu li a:hover{background:yellowgreen; color:#fff;}*/
.search{float:right; line-height:100px; margin-left:15px; width:15px;}

/*sub*/
.menu li.active a{background:yellowgreen; color:#fff;}
.sub{position:absolute; top:100%; right:-30px; width:800px; height:300px; background:#fff; border-top:3px solid yellowgreen; border-bottom-left-radius:5px;border-bottom-right-radius:5px; box-shadow: 0 1px 5px rgba(0,0,0,0.07);}
.menu li a:hover + .sub{display:block;}